<section class="card-blog-post">
    <header class="card-header">
        <div>Posted by {{comment.user.name}} on {{format_date comment.createdDate}} at {{format_time comment.createdDate}}</div>
    </header>
    <div>
        {{comment.contents}}
    </div>
</section>