<section class="card-blog-post">
    <header class="card-header">
        <div>{{user.name}} commented on {{format_date created_at}} at {{format_time created_at}}</div>
    </header>
    <div>
        {{contents}}
    </div>
</section>
