<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogHub</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <a class="nav-link" href="/" id="link-home">Home</a>

        <!-- Display the logout & dashboard links if the user is logged in, otherwise Login -->
            {{#if logged_in}}            
            <a class="nav-link"  id="link-dashboard" href="/dashboard">Dashboard</a>
            <a class="nav-link" id="logout" >Logout</a>
            {{else}}
            <a class="nav-link" href="/login" id="login">Login</a>
            {{/if}}
        </nav>        
        <h1>
        The Tech Blog
        </h1>

    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        
    </footer>
    {{#if logged_in}}  
        <script src="./js/logout.js"></script>
    {{/if}}
    
</body>

</html>
